In [1]:
import gc
import sys
import time
import pickle
import random
import numpy as np
import pandas as pd
from catboost import CatBoostClassifier

In [2]:
import plotly.graph_objects as go
import matplotlib.pyplot as plt
plt.rcParams['figure.figsize'] = (12, 7) 
plt.style.use('ggplot')

In [3]:
transactions = pd.read_csv('../../data/transactions.csv')

In [4]:
# топ сочетаний mcc и cat (см README.md)
m = pd.read_csv('../1_cv/mcc_matches.csv')
m = m[(m['clients'] > 20)][:400]
m['mcc_code'] = m['mcc_code'].astype(int)
m['cat_id'] = m['cat_id'].astype(int)
mcc = list(m['mcc_code'])
cat = list(m['cat_id'])

In [5]:
m.head()

      mcc_code  cat_id  dist  count  clients
2941      7832     552  6504     35       33
3132      5200     170  6801     80       27
3211      4784     794  6888     40       27
3305      5999     606  6999     25       23
3580      5815     763  7325     40       22

In [6]:
transactions = transactions[transactions['mcc_code'].isin(mcc)]
transactions['dt'] = transactions['transaction_dttm'].str[:10]

In [7]:
transactions.head()

,user_id,mcc_code,currency_rk,transaction_amt,transaction_dttm,dt
0,000932580e404dafbecd5916d4640938,5411,48,-361.07230,2020-08-03 08:05:23,2020-08-03
1,000932580e404dafbecd5916d4640938,5499,48,-137.31398,2020-08-05 01:27:40,2020-08-05
2,000932580e404dafbecd5916d4640938,5499,48,-138.84981,2020-08-05 03:28:11,2020-08-05
3,000932580e404dafbecd5916d4640938,4829,48,-309.47653,2020-08-06 00:36:29,2020-08-06
4,000932580e404dafbecd5916d4640938,5411,48,-133.47370,2020-08-09 00:30:13,2020-08-09

In [8]:
clickstream = pd.read_csv('../../data/clickstream.csv')

In [9]:
clickstream = clickstream[clickstream['cat_id'].isin(cat)]
clickstream['dt'] = clickstream['timestamp'].str[:10]

In [11]:
gc.collect()

73

In [13]:
puz = pd.read_csv('../../data_mini/puzzle.csv')

In [14]:
puz.head()

                               bank                               rtk
0  6dd66e8624da427da6b558903a5772b8  56f386b1a1a9455b9118cd290b0627d7
1  224a2325b44a4326bc539e3f1a6e713b  ca77a88196ef4dd786fb390340cf226e
2  ed547c635e594b88a9eb5b5f7ae75304  0ca257d60e0a47c085117c80dff13cb5
3  10f09bfecc7f4cf894897206d4020307  3c044d4b126f439886f0f7aee8b16545
4  8a1dd91a260143f4b6044da26844dde2  c07ebeb15f7d43b6b6450f7c50b8f245

In [15]:
transactions = transactions[transactions['user_id'].isin(list(puz['bank']))]
clickstream = clickstream[clickstream['user_id'].isin(list(puz['rtk']))]

In [16]:
# берем пересекающиеся даты
tset = set(transactions['dt'].unique())
cset = set(clickstream['dt'].unique())
intdt = cset.intersection(tset)

In [17]:
transactions = transactions[transactions['dt'].isin(intdt)]
clickstream = clickstream[clickstream['dt'].isin(intdt)]

In [18]:
print(transactions.shape[0])
print(clickstream.shape[0])

2303085
31905214

In [19]:
# кол-во минут с начала суток
transactions['sec1'] = transactions['transaction_dttm'].str[11:13].astype(int)*60 + \
                       transactions['transaction_dttm'].str[14:16].astype(int) + 1

In [20]:
# кол-во минут с начала суток
clickstream['sec2'] = clickstream['timestamp'].str[11:13].astype(int)*60 + \
                       clickstream['timestamp'].str[14:16].astype(int) + 1

In [21]:
bankclient_embed = transactions.pivot_table(index = ['user_id', 'dt'],
                            values=['sec1'],
                            columns=['mcc_code'],
                            aggfunc=['median']).fillna(0)
bankclient_embed.columns = ['v1_' + str(i[0]) + '-' + str(i[2]) for i in bankclient_embed.columns]

In [23]:
bankclient_embed.head()

                                             v1_median--1  v1_median-742  \
user_id                          dt
001708a5fca04c2ca58d7188b747d5f5 2021-01-17           0.0            0.0
                                 2021-01-18           0.0            0.0
                                 2021-01-19           0.0            0.0
                                 2021-01-20           0.0            0.0
                                 2021-01-21           0.0            0.0

                                             v1_median-780  v1_median-1711  \
user_id                          dt
001708a5fca04c2ca58d7188b747d5f5 2021-01-17            0.0             0.0
                                 2021-01-18            0.0             0.0
                                 2021-01-19            0.0             0.0
                                 2021-01-20            0.0             0.0
                                 2021-01-21            0.0             0.0

                                             v1_median-3011  v1_median-4111  \
user_id                          dt
001708a5fca04c2ca58d7188b747d5f5 2021-01-17             0.0             0.0
                                 2021-01-18             0.0             0.0
                                 2021-01-19             0.0             0.0
                                 2021-01-20             0.0             0.0
                                 2021-01-21             0.0             0.0

                                             v1_median-4112  v1_median-4121  \
user_id                          dt
001708a5fca04c2ca58d7188b747d5f5 2021-01-17             0.0             0.0
                                 2021-01-18             0.0             0.0
                                 2021-01-19             0.0             0.0
                                 2021-01-20             0.0             0.0
                                 2021-01-21           249.0             0.0

                                             v1_median-4131  v1_median-4214  \
user_id                          dt
001708a5fca04c2ca58d7188b747d5f5 2021-01-17             0.0             0.0
                                 2021-01-18             0.0             0.0
                                 2021-01-19             0.0             0.0
                                 2021-01-20             0.0             0.0
                                 2021-01-21             0.0             0.0

                                             ...  v1_median-8099  \
user_id                          dt          ...
001708a5fca04c2ca58d7188b747d5f5 2021-01-17  ...             0.0
                                 2021-01-18  ...             0.0
                                 2021-01-19  ...             0.0
                                 2021-01-20  ...             0.0
                                 2021-01-21  ...             0.0

                                             v1_median-8111  v1_median-8220  \
user_id                          dt
001708a5fca04c2ca58d7188b747d5f5 2021-01-17             0.0             0.0
                                 2021-01-18             0.0             0.0
                                 2021-01-19             0.0             0.0
                                 2021-01-20             0.0             0.0
                                 2021-01-21             0.0             0.0

                                             v1_median-8398  v1_median-8699  \
user_id                          dt
001708a5fca04c2ca58d7188b747d5f5 2021-01-17             0.0             0.0
                                 2021-01-18             0.0             0.0
                                 2021-01-19             0.0             0.0
                                 2021-01-20             0.0             0.0
                                 2021-01-21             0.0             0.0

                                             v1_median-9222  v1_median-9311  \
user_id                          dt
001708a5fca04c2ca58d7188b747d5f5 2021-01-17             0.0             0.0
                                 2021-01-18             0.0             0.0
                                 2021-01-19             0.0             0.0
                                 2021-01-20             0.0             0.0
                                 2021-01-21             0.0             0.0

                                             v1_median-9399  v1_median-9402  \
user_id                          dt
001708a5fca04c2ca58d7188b747d5f5 2021-01-17             0.0             0.0
                                 2021-01-18             0.0             0.0
                                 2021-01-19             0.0             0.0
                                 2021-01-20             0.0             0.0
                                 2021-01-21             0.0             0.0

                                             v1_median-9406
user_id                          dt
001708a5fca04c2ca58d7188b747d5f5 2021-01-17             0.0
                                 2021-01-18             0.0
                                 2021-01-19             0.0
                                 2021-01-20             0.0
                                 2021-01-21             0.0

[5 rows x 146 columns]

In [24]:
del transactions
gc.collect()

132

In [25]:
clickstream_embed = clickstream.pivot_table(index = ['user_id', 'dt'],
                        values=['sec2'],
                        columns=['cat_id'],
                        aggfunc=['median']).fillna(0)

clickstream_embed.columns = ['v2_' + str(i[0]) + '-' + str(i[2]) for i in clickstream_embed.columns]

In [26]:
clickstream_embed.head()

                                             v2_median-1  v2_median-11  \
user_id                          dt
000fc5be9e974980a1c9728f4866db11 2021-01-19          0.0           0.0
                                 2021-01-22          0.0           0.0
                                 2021-01-23          0.0           0.0
                                 2021-01-25          0.0           0.0
                                 2021-01-26          0.0           0.0

                                             v2_median-12  v2_median-13  \
user_id                          dt
000fc5be9e974980a1c9728f4866db11 2021-01-19           0.0           0.0
                                 2021-01-22           0.0           0.0
                                 2021-01-23           0.0           0.0
                                 2021-01-25           0.0           0.0
                                 2021-01-26           0.0           0.0

                                             v2_median-14  v2_median-15  \
user_id                          dt
000fc5be9e974980a1c9728f4866db11 2021-01-19           0.0           0.0
                                 2021-01-22           0.0           0.0
                                 2021-01-23           0.0           0.0
                                 2021-01-25           0.0           0.0
                                 2021-01-26           0.0           0.0

                                             v2_median-19  v2_median-20  \
user_id                          dt
000fc5be9e974980a1c9728f4866db11 2021-01-19           0.0           0.0
                                 2021-01-22           0.0           0.0
                                 2021-01-23           0.0           0.0
                                 2021-01-25           0.0           0.0
                                 2021-01-26           0.0           0.0

                                             v2_median-21  v2_median-25  ...  \
user_id                          dt                                      ...
000fc5be9e974980a1c9728f4866db11 2021-01-19           0.0           0.0  ...
                                 2021-01-22           0.0           0.0  ...
                                 2021-01-23           0.0           0.0  ...
                                 2021-01-25           0.0         684.0  ...
                                 2021-01-26           0.0           0.0  ...

                                             v2_median-1455  v2_median-1456  \
user_id                          dt
000fc5be9e974980a1c9728f4866db11 2021-01-19             0.0             0.0
                                 2021-01-22             0.0             0.0
                                 2021-01-23             0.0             0.0
                                 2021-01-25             0.0             0.0
                                 2021-01-26             0.0             0.0

                                             v2_median-1457  v2_median-1458  \
user_id                          dt
000fc5be9e974980a1c9728f4866db11 2021-01-19             0.0             0.0
                                 2021-01-22             0.0             0.0
                                 2021-01-23             0.0             0.0
                                 2021-01-25           156.0             0.0
                                 2021-01-26             0.0             0.0

                                             v2_median-1459  v2_median-1522  \
user_id                          dt
000fc5be9e974980a1c9728f4866db11 2021-01-19             0.0             0.0
                                 2021-01-22             0.0             0.0
                                 2021-01-23             0.0             0.0
                                 2021-01-25             0.0             0.0
                                 2021-01-26             0.0             0.0

                                             v2_median-1641  v2_median-1666  \
user_id                          dt
000fc5be9e974980a1c9728f4866db11 2021-01-19             0.0             0.0
                                 2021-01-22             0.0             0.0
                                 2021-01-23             0.0             0.0
                                 2021-01-25             0.0             0.0
                                 2021-01-26             0.0             0.0

                                             v2_median-1771  v2_median-1799
user_id                          dt
000fc5be9e974980a1c9728f4866db11 2021-01-19             0.0             0.0
                                 2021-01-22             0.0             0.0
                                 2021-01-23             0.0             0.0
                                 2021-01-25             0.0             0.0
                                 2021-01-26             0.0             0.0

[5 rows x 113 columns]

In [27]:
del clickstream
gc.collect()

40

In [28]:
def df_compress(df):
    dtype_df = list()
    for x in df.dtypes.tolist():
        if x=='int64':
            dtype_df.append('int32')
        elif(x=='float64'):
            dtype_df.append('int32')
        elif(x=='float32'):
            dtype_df.append('int32')
        elif(x=='int32'):
            dtype_df.append('int32')
        else:
            dtype_df.append('object')
    
    dtype_df = dict(zip(df.columns.tolist(),dtype_df))
    df = df.astype(dtype_df)
    return df

In [29]:
clickstream_embed = df_compress(clickstream_embed)

In [30]:
bankclient_embed = df_compress(bankclient_embed)

In [44]:
bankclient_embed = bankclient_embed.reset_index()
clickstream_embed = clickstream_embed.reset_index()

In [47]:
bank_ids = list(bankclient_embed['user_id'].unique())
rtk_ids = list(clickstream_embed['user_id'].unique())

In [50]:
gc.collect()

280

### Model

In [38]:
clf = CatBoostClassifier()
clf.load_model('../models/v5_daily_cross_nearest.cbm',  format='cbm')

In [51]:
clickstream_embed.rename(columns={'user_id': 'rtk'}, inplace=True)
clickstream_embed.set_index(['rtk', 'dt'], inplace=True)

In [52]:
bankclient_embed.rename(columns={'user_id': 'bank'}, inplace=True)
bankclient_embed.set_index(['bank'], inplace=True)

### Predict

In [55]:
%%time

D = pd.DataFrame()
pack = 5
k = len(bank_ids) // pack

for jj in range(k+1):
    this_bank_ids = bank_ids[jj*pack:(jj+1)*pack]
    ps = pd.DataFrame(this_bank_ids, columns=['bank'])
    ps['rtk'] = ps['bank'].apply(lambda x: rtk_ids)
    ps = ps.explode('rtk')
    
    ps.set_index(['bank'], inplace=True)
    
    be = bankclient_embed[bankclient_embed.index.isin(this_bank_ids)]
    ps = be.join(ps, how='left')
    
    ps = ps.reset_index()
    ps = ps.set_index(['rtk', 'dt'])
    
    ps = ps.join(clickstream_embed, how='inner', on=['rtk', 'dt'])
    
    # основная магия происходит тут
    for i in range(len(mcc)):
        ps[str(int(mcc[i])) + '_' + str(int(cat[i]))] = np.sign(ps['v1_median-' + str(int(mcc[i]))]) * \
                                                        np.sign(ps['v2_median-' + str(int(cat[i]))]) * \
                        abs(ps['v1_median-' + str(int(mcc[i]))] - ps['v2_median-' + str(int(cat[i]))])
        
    ps = ps.reset_index()
    
    P = ps[['bank', 'rtk', 'dt']].copy()
    P['pred'] = clf.predict_proba(ps.drop(['bank', 'rtk', 'dt'] + to_drop_cols, axis=1))[:,1]
    
    # за каждую дату оставляем топ 100 кандидатов
    P = P.sort_values(['bank', 'pred'], ascending=False)
    P = P.groupby(['bank', 'dt']).head(100)
    
    D = D.append(P, ignore_index=True)
    print(jj, P.shape[0], P['bank'].nunique())
    del P
    del ps
    gc.collect()

0 72939 5
1 70326 5
2 71265 5
3 76813 5
4 85739 5
5 76652 5
6 66239 5
7 85852 5
8 68539 5
9 69752 5
10 70839 5
11 88452 5
12 59826 5
13 77739 5
14 64639 5
15 72339 5
16 79339 5
17 70365 5
18 67252 5
19 73739 5
20 63939 5
21 81665 5
22 85852 5
23 79826 5
24 76652 5
25 67326 5
26 75339 5
27 82652 5
28 62939 5
29 74839 5
30 78765 5
31 64052 5
32 80926 5
33 81839 5
34 71452 5
35 71039 5
36 74939 5
37 66352 5
38 65452 5
39 74026 5
40 77239 5
41 87939 5
42 81552 5
43 59439 5
44 77126 5
45 72552 5
46 73252 5
47 71226 5
48 79539 5
49 73739 5
50 72239 5
51 76152 5
52 77452 5
53 70265 5
54 76665 5
55 78552 5
56 81539 5
57 79965 5
58 69852 5
59 69239 5
60 73313 5
61 77252 5
62 76852 5
63 70639 5
64 76339 5
65 64665 5
66 78952 5
67 74826 5
68 76839 5
69 80239 5
70 74065 5
71 77552 5
72 82239 5
73 69800 5
74 73452 5
75 79052 5
76 77052 5
77 83952 5
78 72565 5
79 62626 5
80 69952 5
81 82065 5
82 75639 5
83 75552 5
84 72765 5
85 73452 5
86 75152 5
87 74752 5
88 78039 5
89 78926 5
90 77465 5
91 67539 5
92 82965 5
93 71952 5
94 86152 5
95 73052 5
96 74139 5
97 72452 5
98 76565 5
99 66765 5
100 69552 5
101 75239 5
102 71965 5
103 83339 5
104 76639 5
105 66565 5
106 74852 5
107 73852 5
108 78365 5
109 77039 5
110 71639 5
111 84252 5
112 78326 5
113 88526 5
114 76039 5
115 65739 5
116 69265 5
117 70152 5
118 80565 5
119 77039 5
120 73665 5
121 74039 5
122 78252 5
123 71926 5
124 79339 5
125 70052 5
126 71639 5
127 79865 5
128 72852 5
129 76752 5
130 69039 5
131 73352 5
132 74252 5
133 81565 5
134 80152 5
135 80239 5
136 77252 5
137 69226 5
138 82152 5
139 67652 5
140 70139 5
141 73726 5
142 77352 5
143 71552 5
144 65513 5
145 81139 5
146 72765 5
147 77439 5
148 71252 5
149 76652 5
150 65339 5
151 73839 5
152 75752 5
153 74239 5
154 68813 5
155 76965 5
156 74165 5
157 70713 5
158 71652 5
159 82252 5
160 60252 5
161 62526 5
162 79039 5
163 64926 5
164 75639 5
165 83452 5
166 69865 5
167 75852 5
168 74752 5
169 72639 5
170 67939 5
171 68213 5
172 72339 5
173 73913 5
174 79752 5
175 71526 5
176 79552 5
177 82839 5
178 78665 5
179 78539 5
180 72152 5
181 74865 5
182 83565 5
183 67865 5
184 86865 5
185 77852 5
186 74952 5
187 73165 5
188 69865 5
189 72965 5
190 64313 5
191 76552 5
192 67926 5
193 72939 5
194 66713 5
195 70952 5
196 83452 5
197 70226 5
198 73252 5
199 85652 5
200 70365 5
201 72439 5
202 86252 5
203 63939 5
204 71939 5
205 74239 5
206 77852 5
207 87265 5
208 81339 5
209 74239 5
210 74752 5
211 75926 5
212 87365 5
213 66526 5
214 77852 5
215 83665 5
216 78352 5
217 67739 5
218 59126 5
219 63226 5
220 69852 5
221 78465 5
222 71265 5
223 73952 5
224 65252 5
225 76052 5
226 68939 5
227 75152 5
228 71952 5
229 75565 5
230 80365 5
231 58939 5
232 67552 5
233 72265 5
234 80865 5
235 67352 5
236 76026 5
237 65165 5
238 82339 5
239 73665 5
240 89165 5
241 78552 5
242 74652 5
243 75339 5
244 77752 5
245 70339 5
246 65113 5
247 79052 5
248 65639 5
249 85652 5
250 75339 5
251 62652 5
252 81252 5
253 72865 5
254 72752 5
255 79939 5
256 77052 5
257 80439 5
258 66252 5
259 71652 5
260 78126 5
261 83652 5
262 77652 5
263 75939 5
264 65139 5
265 66352 5
266 77965 5
267 74765 5
268 78939 5
269 76565 5
270 63826 5
271 70165 5
272 71913 5
273 78565 5
274 65126 5
275 81252 5
276 73426 5
277 75739 5
278 79252 5
279 84665 5
280 77139 5
281 78952 5
282 75652 5
283 82165 5
284 75239 5
285 75665 5
286 72139 5
287 68565 5
288 79926 5
289 76965 5
290 76813 5
291 76752 5
292 68839 5
293 69452 5
294 69039 5
295 69526 5
296 78539 5
297 70852 5
298 75239 5
299 76339 5
300 63826 5
301 70626 5
302 78752 5
303 56639 5
304 79739 5
305 69439 5
306 68439 5
307 65813 5
308 66639 5
309 68539 5
310 63639 5
311 76539 5
312 67439 5
313 67139 5
314 82439 5
315 67539 5
316 78565 5
317 71013 5
318 77752 5
319 72139 5
320 66239 5
321 71665 5
322 74526 5
323 68952 5
324 74365 5
325 72852 5
326 71426 5
327 81339 5
328 68726 5
329 78826 5
330 70739 5
331 65439 5
332 66265 5
333 70739 5
334 72065 5
335 70526 5
336 55639 5
337 68165 5
338 73952 5
339 81052 5
340 77052 5
341 74752 5
342 75539 5
343 74252 5
344 73952 5
345 79326 5
346 77926 5
347 72126 5
348 68939 5
349 81452 5
350 80039 5
351 57926 5
352 72052 5
353 68852 5
354 69452 5
355 70739 5
356 79752 5
357 63739 5
358 75952 5
359 64213 5
360 78739 5
361 85339 5
362 71000 5
363 74239 5
364 66365 5
365 78239 5
366 69752 5
367 76839 5
368 80152 5
369 79152 5
370 82052 5
371 66852 5
372 76052 5
373 74552 5
374 73426 5
375 81039 5
376 71565 5
377 74626 5
378 67413 5
379 72839 5
380 70839 5
381 73039 5
382 79852 5
383 59339 5
384 75652 5
385 79252 5
386 81565 5
387 82365 5
388 61039 5
389 83165 5
390 74752 5
391 70752 5
392 70239 5
393 77852 5
394 84339 5
395 73039 5
396 80213 5
397 69139 5
398 71065 5
399 68226 5
400 71852 5
401 61452 5
402 68452 5
403 71465 5
404 69339 5
405 77052 5
406 78039 5
407 75939 5
408 73626 5
409 73052 5
410 68452 5
411 81352 5
412 69952 5
413 75052 5
414 78326 5
415 85565 5
416 63239 5
417 80339 5
418 82165 5
419 68339 5
420 72339 5
421 77565 5
422 81839 5
423 69852 5
424 77952 5
425 80452 5
426 76039 5
427 73252 5
428 78639 5
429 73752 5
430 72952 5
431 62113 5
432 82365 5
433 75952 5
434 72952 5
435 82552 5
436 83765 5
437 66726 5
438 67526 5
439 74152 5
440 72352 5
441 81526 5
442 60552 5
443 69765 5
444 80052 5
445 71352 5
446 75965 5
447 68265 5
448 75939 5
449 60152 5
450 80065 5
451 67926 5
452 77952 5
453 80526 5
454 80352 5
455 82239 5
456 82952 5
457 83539 5
458 66052 5
459 65552 5
460 72326 5
461 75465 5
462 75239 5
463 86565 5
464 74052 5
465 72539 5
466 71439 5
467 78565 5
468 63026 5
469 65252 5
470 64865 5
471 79739 5
472 72239 5
473 79052 5
474 75639 5
475 79865 5
476 69652 5
477 77652 5
478 62852 5
479 78465 5
480 64352 5
481 77665 5
482 77152 5
483 77626 5
484 69926 5
485 66852 5
486 71926 5
487 73439 5
488 70813 5
489 69152 5
490 74752 5
491 72539 5
492 65839 5
493 69952 5
494 74539 5
495 73839 5
496 80265 5
497 69852 5
498 78939 5
499 73052 5
500 73065 5
501 60826 5
502 88352 5
503 70539 5
504 78352 5
505 73726 5
506 66639 5
507 67952 5
508 72065 5
509 78352 5
510 77452 5
511 74239 5
512 75326 5
513 73939 5
514 83165 5
515 69739 5
516 69765 5
517 76439 5
518 77852 5
519 72552 5
520 69939 5
521 77852 5
522 67326 5
523 69252 5
524 73739 5
525 82152 5
526 89352 5
527 69139 5
528 69539 5
529 65265 5
530 75552 5
531 70252 5
532 70239 5
533 67726 5
534 76952 5
535 77552 5
536 74065 5
537 64052 5
538 81926 5
539 75326 5
540 63252 5
541 77365 5
542 82952 5
543 70226 5
544 73352 5
545 86865 5
546 73626 5
547 72626 5
548 78539 5
549 71639 5
550 72752 5
551 66152 5
552 79552 5
553 77652 5
554 74126 5
555 71726 5
556 81352 5
557 75326 5
558 64865 5
559 69952 5
560 69452 5
561 76165 5
562 67939 5
563 84265 5
564 75939 5
565 72239 5
566 68052 5
567 74026 5
568 78852 5
569 80552 5
570 76539 5
571 72665 5
572 74039 5
573 68026 5
574 70152 5
575 75552 5
576 76552 5
577 76952 5
578 77152 5
579 74239 5
580 75852 5
581 80165 5
582 69139 5
583 82452 5
584 70252 5
585 78139 5
586 71539 5
587 67239 5
588 75652 5
589 75239 5
590 74239 5
591 82926 5
592 70139 5
593 85852 5
594 75652 5
595 85665 5
596 74626 5
597 69226 5
598 74939 5
599 80939 5
600 74426 5
601 77752 5
602 77152 5
603 74026 5
604 74613 5
605 78765 5
606 71239 5
607 71039 5
608 74452 5
609 78439 5
610 71239 5
611 73013 5
612 71239 5
613 88165 5
614 65913 5
615 76352 5
616 72739 5
617 78065 5
618 78552 5
619 72339 5
620 80965 5
621 66852 5
622 70252 5
623 70952 5
624 75265 5
625 73339 5
626 70552 5
627 74926 5
628 68152 5
629 74752 5
630 79652 5
631 73052 5
632 72813 5
633 66639 5
634 86752 5
635 72065 5
636 71052 5
637 82539 5
638 81739 5
639 75952 5
640 82852 5
641 72665 5
642 72226 5
643 77726 5
644 78539 5
645 81365 5
646 68552 5
647 66026 5
648 68039 5
649 77952 5
650 80039 5
651 69813 5
652 72165 5
653 74165 5
654 72439 5
655 81465 5
656 72552 5
657 77665 5
658 70539 5
659 67752 5
660 74052 5
661 69765 5
662 67013 5
663 77652 5
664 65426 5
665 79852 5
666 78652 5
667 83965 5
668 74365 5
669 73039 5
670 73539 5
671 71139 5
672 70752 5
673 79526 5
674 83152 5
675 72352 5
676 70352 5
677 72865 5
678 73352 5
679 72752 5
680 85039 5
681 75252 5
682 71626 5
683 74365 5
684 68452 5
685 68626 5
686 74239 5
687 73652 5
688 74552 5
689 74852 5
690 72352 5
691 75239 5

692 77352 5
693 71565 5
694 83652 5
695 82065 5
696 79739 5
697 78639 5
698 66265 5
699 77639 5
700 74839 5
701 65826 5
702 73352 5
703 79865 5
704 70852 5
705 67439 5
706 78739 5
707 75952 5
708 78252 5
709 75152 5
710 79939 5
711 81639 5
712 75439 5
713 75526 5
714 73252 5
715 67352 5
716 77339 5
717 74665 5
718 66739 5
719 73852 5
720 75852 5
721 75326 5
722 61839 5
723 70239 5
724 69752 5
725 70465 5
726 66065 5
727 81765 5
728 60139 5
729 70913 5
730 77339 5
731 77752 5
732 72665 5
733 66665 5
734 86352 5
735 79526 5
736 78652 5
737 82265 5
738 68352 5
739 64752 5
740 74752 5
741 75739 5
742 69339 5
743 64639 5
744 89465 5
745 74552 5
746 83239 5
747 72826 5
748 81465 5
749 75852 5
750 85965 5
751 69039 5
752 69126 5
753 82052 5
754 70939 5
755 77039 5
756 79852 5
757 76265 5
758 70026 5
759 78165 5
760 70865 5
761 78652 5
762 74452 5
763 78265 5
764 76739 5
765 76739 5
766 77652 5
767 76952 5
768 86439 5
769 79965 5
770 75552 5
771 63526 5
772 74452 5
773 78252 5
774 77439 5
775 74939 5
776 76839 5
777 82339 5
778 65013 5
779 70152 5
780 69265 5
781 64739 5
782 73626 5
783 77626 5
784 72165 5
785 78539 5
786 79352 5
787 79552 5
788 72039 5
789 71839 5
790 83065 5
791 81839 5
792 67526 5
793 67352 5
794 68139 5
795 70526 5
796 67526 5
797 83865 5
798 71013 5
799 70139 5
800 69326 5
801 77452 5
802 76065 5
803 72652 5
804 77952 5
805 61239 5
806 72239 5
807 69152 5
808 81939 5
809 76726 5
810 74352 5
811 75552 5
812 60826 5
813 81252 5
814 80039 5
815 75839 5
816 68839 5
817 65313 5
818 71339 5
819 74526 5
820 75139 5
821 66639 5
822 65752 5
823 83939 5
824 78452 5
825 75652 5
826 73639 5
827 69813 5
828 66613 5
829 76952 5
830 77265 5
831 75152 5
832 70426 5
833 75965 5
834 73265 5
835 70539 5
836 79765 5
837 70265 5
838 75639 5
839 80526 5
840 73939 5
841 80465 5
842 68452 5
843 66952 5
844 82039 5
845 74552 5
846 71952 5
847 72652 5
848 70626 5
849 69765 5
850 72852 5
851 69552 5
852 73765 5
853 66839 5
854 74139 5
855 80152 5
856 81365 5
857 71652 5
858 76652 5
859 79565 5
860 82552 5
861 79713 5
862 85852 5
863 65352 5
864 64400 5
865 78126 5
866 71552 5
867 78952 5
868 74952 5
869 66952 5
870 63652 5
871 87152 5
872 74552 5
873 80726 5
874 74539 5
875 70639 5
876 65552 5
877 79552 5
878 81939 5
879 77052 5
880 78639 5
881 83752 5
882 77039 5
883 66026 5
884 70239 5
885 78439 5
886 80465 5
887 67639 5
888 74426 5
889 83265 5
890 76552 5
891 79426 5
892 81352 5
893 64539 5
894 68052 5
895 85426 5
896 75139 5
897 80352 5
898 78439 5
899 75939 5
900 77365 5
901 71252 5
902 72452 5
903 78165 5
904 83465 5
905 76839 5
906 63126 5
907 70839 5
908 77839 5
909 72439 5
910 73426 5
911 64713 5
912 68626 5
913 66839 5
914 73252 5
915 66752 5
916 72313 5
917 76865 5
918 76239 5
919 88065 5
920 73152 5
921 76652 5
922 77552 5
923 75952 5
924 63639 5
925 61239 5
926 76526 5
927 71252 5
928 69126 5
929 85852 5
930 80652 5
931 58652 5
932 65239 5
933 74939 5
934 69039 5
935 76126 5
936 78352 5
937 71452 5
938 56926 5
939 71813 5
940 68465 5
941 83465 5
942 70952 5
943 70152 5
944 76026 5
945 71752 5
946 71152 5
947 77952 5
948 75252 5
949 72039 5
950 69926 5
951 65639 5
952 75065 5
953 79052 5
954 74439 5
955 70852 5
956 74539 5
957 80665 5
958 78526 5
959 84365 5
960 78239 5
961 80352 5
962 73039 5
963 76452 5
964 61252 5
965 79339 5
966 78352 5
967 79539 5
968 74352 5
969 82126 5
970 70465 5
971 79726 5
972 81365 5
973 66952 5
974 75439 5
975 72626 5
976 72352 5
977 68839 5
978 74539 5
979 69239 5
980 74939 5
981 79865 5
982 67513 5
983 79452 5
984 76965 5
985 74539 5
986 76452 5
987 72452 5
988 72652 5
989 64439 5
990 24626 2
Wall time: 22h 34min 41s
Parser   : 252 ms

In [56]:
gc.collect()

20

In [3]:
# save data
#D.to_csv('daily_cross_predictions_nearest_Data_all_clients.csv', index=None)
#D = pd.read_csv('daily_cross_predictions_nearest_Data_all_clients.csv')

In [4]:
D.head()

,bank,rtk,dt,pred
0,006415c4240844e0810617ecebbd2db4,26b3ac29b3584b2f807ce404546d9b23,2021-06-26,0.468148
1,006415c4240844e0810617ecebbd2db4,8b918d5da8a8408bb690c9e04ed16e5c,2021-03-06,0.431815
2,006415c4240844e0810617ecebbd2db4,8b21f9d6b4884a3d9e89ca5d434ee2da,2021-06-26,0.428346
3,006415c4240844e0810617ecebbd2db4,c5e93edb6f914acf83b2a3e0bec43b66,2021-03-06,0.422050
4,006415c4240844e0810617ecebbd2db4,15fb49d4823940ebb5d7adeacd8c3391,2021-06-26,0.421368

In [7]:
# cross_v3 - D['pred_h'] = D['pred']
# cross_v2 - D['pred_h'] = 2 * D['pred'] * D['pred_scaled2'] / (D['pred'] + D['pred_scaled2'])
# cross_v1_4 - S['pred_h'] = 3 * S['t1'] * S['t3'] * S['t2'] / (S['t1'] * S['t3'] + S['t1'] * S['t2'] + S['t2'] * S['t3'])
#              D['pred_h'] = 2 * D['pred'] * D['pred_scaled2'] / (D['pred'] + D['pred_scaled2'])

# cross_v1_5 - S['pred_h'] = 3 * S['t1'] * S['t3'] * S['t2'] / (S['t1'] * S['t3'] + S['t1'] * S['t2'] + S['t2'] * S['t3'])
#              D['pred_h'] = 2 * D['pred'] * D['pred_scaled3'] / (D['pred'] + D['pred_scaled3'])

# cross_v1_5 - S['pred_h'] = 3 * S['t1'] * S['t3'] * S['t2'] / (S['t1'] * S['t3'] + S['t1'] * S['t2'] + S['t2'] * S['t3'])
#              D['pred_h'] = 2 * D['pred'] * D['pred_scaled3'] / (D['pred'] + D['pred_scaled3'])

# cross_v1_6 - S['pred_h'] = 3 * S['t1'] * S['t3'] * S['t2'] / (S['t1'] * S['t3'] + S['t1'] * S['t2'] + S['t2'] * S['t3'])
#              D['pred_h'] = 3 * D['pred'] * D['pred_scaled2'] * D['pred_scaled3'] / (...)

# cross_v1_7 - S['pred_h'] = 3 * S['t1'] * S['t3'] * S['t2'] / (S['t1'] * S['t3'] + S['t1'] * S['t2'] + S['t2'] * S['t3'])
#              D['pred_h'] = 2 * D['pred'] * D['pred_scaled3'] / (...)


#D = nxscaler2(D, 'pred')
#D = nxscaler3(D, 'pred')
#D['pred_h'] = 2 * D['pred'] * D['pred_scaled3']/ (D['pred'] + D['pred_scaled3'])
#D['pred_h'] = 2 * D['pred'] * D['pred_scaled2']/ (D['pred'] + D['pred_scaled2'])

In [8]:
# нужно усреднить результаты. Так как за каждую дату отбирали топ 100, 
# то простое усреднение не совсем логично и дает хуже результат

S = D.groupby(['bank', 'rtk']).agg({
      'pred_h': ['sum', 'mean', 'std', 'count']
}).reset_index()
S.columns = ['bank', 'rtk', 'sum', 'mean', 'std', 'count']

S['t1'] = S['sum'] / np.sqrt(S['count'])
S['t2'] = S['sum'] * S['std']
S['t3'] = S['sum']
S['pred_h'] = 3 * S['t1'] * S['t3'] * S['t2'] / (S['t1'] * S['t3'] + S['t1'] * S['t2'] + S['t2'] * S['t3'])

S = S.sort_values(['bank', 'pred_h'], ascending=False)
S.rename(columns={'pred_h': 'pred'}, inplace=True)
S.head()

,bank,rtk,sum,mean,std,count,t1,t2,t3,pred
16016256,fff71f6ea9f54fa9a8575c772e0cdf71,e4b6ca0f374c43098557a2b579e2c1f9,3.192240,0.152011,0.195007,21,0.696604,0.622508,3.192240,0.894134
16016442,fff71f6ea9f54fa9a8575c772e0cdf71,f63a291da4f14a06bb893594feeedc90,4.784076,0.251793,0.083484,19,1.097542,0.399393,4.784076,0.827825
16016497,fff71f6ea9f54fa9a8575c772e0cdf71,fb47a315cf584dbdb1f1933ba2b6edd4,3.237699,0.179872,0.152275,18,0.763133,0.493022,3.237699,0.822469
16015697,fff71f6ea9f54fa9a8575c772e0cdf71,b4ce9e22a0f64e6d81de59500f553b88,1.718521,0.286420,0.309711,6,0.701583,0.532245,1.718521,0.771987
16015057,fff71f6ea9f54fa9a8575c772e0cdf71,79996d2ae02742aba1927f3c4ef7dc6b,1.943713,0.277673,0.255280,7,0.734654,0.496190,1.943713,0.771006

In [6]:
#minmaxscaler by group

# Еще одна находна это - minmax scaler, после её применения всегда R1 скор выше
# Логика такая - после предикта, средний скор по rtk получается перекошенным. У кого то скор высокий 0.9, а у кого то 0.5
# хотя, с одинаковой вероятность есть пара у того и у другого. Чтобы немного подправить это - применяю scaler

def nxscaler(df, col):
    g = df.groupby('rtk')[col]
    min_, max_ = g.transform('min'), g.transform('max')
    df[col+'_scaled'] = (df[col] - min_) / (max_ - min_)
    return df

# not used
def nxscaler2(df, col):
    g = df.groupby(['bank', 'dt'])[col]
    min_, max_ = g.transform('min'), g.transform('max')
    df[col+'_scaled2'] = (df[col] - min_) / (max_ - min_)
    return df

# not used
def nxscaler3(df, col):
    g = df.groupby(['rtk', 'dt'])[col]
    min_, max_ = g.transform('min'), g.transform('max')
    df[col+'_scaled3'] = (df[col] - min_) / (max_ - min_)
    return df

In [9]:
S = S.groupby(['bank']).head(200).copy()

In [10]:
P = S.copy()

In [11]:
R = P.copy()
R = nxscaler(R, 'pred')

In [12]:
col = 'pred_h'

In [13]:
# берем среднее гармоническое между скором предикта и отскейленнего предикта
# во всех сабмитах R1 скор выше, чем - без

R['pred_h'] = 2*R['pred'] * R['pred_scaled'] / (R['pred'] + R['pred_scaled'])

In [14]:
R = R.sort_values(['bank', col], ascending=False)

In [15]:
F = R.groupby('bank').head(200).copy()

In [18]:
F.head()

,bank,rtk,sum,mean,std,count,t1,t2,t3,pred,pred_scaled,pred_h
16015520,fff71f6ea9f54fa9a8575c772e0cdf71,a5757fe961ac48c1a9f79bbb4b81001c,2.412155,0.402026,0.106975,6,0.984758,22.548738,2.412155,2.034735,0.746750,1.092538
16015322,fff71f6ea9f54fa9a8575c772e0cdf71,925e1cc0e33143ffbbcbd483b4e840d1,2.741297,0.304589,0.094963,9,0.913766,28.866858,2.741297,2.008294,0.743640,1.085380
16016442,fff71f6ea9f54fa9a8575c772e0cdf71,f63a291da4f14a06bb893594feeedc90,5.168581,0.272031,0.107420,19,1.185754,48.115591,5.168581,2.836597,0.657860,1.068025
16015019,fff71f6ea9f54fa9a8575c772e0cdf71,74dbe0057e064168bd55b7f5526cfb31,0.984148,0.492074,0.160965,2,0.695898,6.114036,0.984148,1.146500,0.808477,0.948266
16016038,fff71f6ea9f54fa9a8575c772e0cdf71,d1d4e79170284c768b9fb4ca8e885cd9,1.579012,0.263169,0.207911,6,0.644629,7.594668,1.579012,1.295192,0.713607,0.920209

In [16]:
F = F[['bank', 'rtk']]
F = F.pivot_table(index='bank', values='rtk', aggfunc=list)
F = F.reset_index()
F = F[['bank', 'rtk']]
F.columns = ['bank', 'rtk_list']

In [17]:
F.head()

,bank,rtk_list
0,001708a5fca04c2ca58d7188b747d5f5,"[2c3d6475583e488ab8524aaddce5883a, fe0f062b018..."
1,0025930588d249ec8e73936f6a6d05bd,"[c1617b3c08e04f6ea37f1f902282d5ff, 65067f5d0a8..."
2,0034020d25da4951b559da1d3171a1e3,"[7136fcfc54df4d34a74ed43257fc15ec, 8b5c8d23330..."
3,00491339a09c4638a0f27ca51f615d67,"[4a907fea0b4547e5a0d7062a6a9d945d, 5f1f0fa2099..."
4,006415c4240844e0810617ecebbd2db4,"[702fd1c2fab54b01943729bd88bb16a9, c5e93edb6f9..."

In [18]:
F.to_csv('cross_v1_7_200.csv', index=None)

In [19]:
F.shape

(4952, 2)